<ion-header  class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-card class="ion-no-margin">
  <ion-img src="../../assets/img/lg_preview_rev_1.png"></ion-img>
  <ion-card-header>
  <ion-card-title>
     Bienvenidos
  </ion-card-title>
  <ion-card-subtitle class="ion-text-lowercase">
    OdontoArte es una  aplicación para poder contactarse con nosotro a traves de cualquier medio. 
  </ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    <div class="signin-btns">
        <ion-button   fill="solid" shape="round" class="loginbtn" (click)="gotoLoginpage()">
          Iniciar sesiónttttttttttttttttttttttttttttttt
        </ion-button>
        <ion-button   fill="outline" shape="round" color="dar" (click)="registerUser()" >Registrarte</ion-button>
      </div>
      <div class="text-tag">
 
      </div>

      <div class="social-btns">
       

          <div className="google-btn">
              <div className="google-icon-wrapper">
                  <img className="google-icon" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="google button" />
              </div>
              <p className="btn-text">
                  <b>Inicia sesión con Google</b>
              </p>
         </div>

        </div>
  </ion-card-content>

</ion-card>

</ion-content>
