<ion-header>
  
  
  <ion-toolbar>
    <!-- Button del menu  -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
     </ion-buttons>
    <ion-title>Citas</ion-title>
  </ion-toolbar>
</ion-header>
  <!-- Seach -->
<ion-toolbar>
  <ion-searchbar placeholder="Buscar" (keydown)="functionclick()"></ion-searchbar>
</ion-toolbar>

<ion-content >
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      
      pullingIcon="chevron-down-circle-outline"
      pullingText="Tire para actualizar"
      refreshingSpinner="circles"
      refreshingText="Actualizando...">
    </ion-refresher-content>
  </ion-refresher>
 

  <div class="alert alert-danger" role="alert" *ngIf="errorUpdate">
   Error: Usted no tiene permiso para eliminar
  </div>

  <div class="bodycita">
  
    <div>
      <ul>
        <li *ngFor="let cita of citas;  let i = index">
          
         
             
            <span class="number">{{i+1}} </span>&nbsp;&nbsp;
            <span id="name" class="name" >
              <!-- {{cita.IdUser.nombre}} {{cita.IdUser.apellido}}  -->
              <ion-icon name="person-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
              <p id="pp"> </p>
            </span>
            <span class="points">
              <ion-icon name="calendar-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
              <!-- {{cita.fecha}} -->
            </span>
          
          <span class="badge"></span>
          <ion-button (click)="editarCita(cita._id)" class="badge" slot="end" color="warning"><ion-icon name="create-outline"></ion-icon></ion-button>
          &nbsp;
          
          &nbsp;
          <ion-button (click)='presentAlertMultipleButtons(cita._id)' class="badge" slot="end" color="medium"><ion-icon name="eye-outline"></ion-icon>
            <ion-badge *ngIf="cita.visto == false" style="position: relative; left:5px" color="medium">1</ion-badge>
          </ion-button>

          &nbsp;
          <ion-button (click)="deleteCita(cita._id)" class="badge" style="margin-left: 10px;" slot="end" color="danger"><ion-icon name="close-circle-outline"></ion-icon></ion-button>

        </li >
        <!-- <li>
          <span class="number">1</span>
          <span class="name">
            <ion-icon name="person-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
            johansel Perez
          </span>
          <span class="points">
            <ion-icon name="calendar-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
            3/12/2022
          </span>
          <span class="badge"></span>
          <ion-button class="badge" slot="end" color="warning"><ion-icon name="create-outline"></ion-icon></ion-button>
          &nbsp;
          
          &nbsp;
          <ion-button class="badge" slot="end" color="danger"><ion-icon name="close-circle-outline"></ion-icon></ion-button>

        </li>
        <li>
          <span class="number">1</span>
          <span class="name">
            <ion-icon name="person-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
            johansel Perez
          </span>
          <span class="points">
            <ion-icon name="calendar-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
            3/12/2022
          </span>
          <span class="badge"></span>
          <ion-button class="badge" slot="end" color="warning"><ion-icon name="create-outline"></ion-icon></ion-button>
          &nbsp;
          
          &nbsp;
          <ion-button class="badge" slot="end" color="danger"><ion-icon name="close-circle-outline"></ion-icon></ion-button>

        </li> -->
       








        <!-- <li>
          <span class="number">1</span>
          <span class="name">
            <ion-icon name="person-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
            johansel Perez
          </span>
          <span class="points">
            <ion-icon name="calendar-outline" style="margin-right: 5px; margin-bottom: -1px;"></ion-icon>
            


          </span>
          <span class="badge"></span>
          <ion-button class="badge" slot="end" color="warning"><ion-icon name="create-outline"></ion-icon></ion-button>
          &nbsp;
          
          &nbsp;
          <ion-button class="badge" slot="end" color="danger"><ion-icon name="close-circle-outline"></ion-icon></ion-button>

        </li>  -->








      </ul>
    </div>
  </div>

</ion-content>


