<ion-header>
  <ion-toolbar>

   <!-- Button del menu  -->
   <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
   </ion-buttons>


    <ion-title>Notificacion</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content>


 <div class="container">

  <div class="alert alert-danger" style="top:30px" *ngIf="alert == true">
     El formato de la imagen no es correcto
  </div>
  <div class="alert alert-success animate__animated animate__backInLeft" style= " position:relative; top:30px; width: 100%; text-align: center;" *ngIf="imgAlert" >
    Imagen...
    <ion-icon style="font-size: 25px;" name="checkmark-outline"></ion-icon>
   </div>


  <form>
    <div class="form-group">
      <label for="exampleFormControlInput1">Titulo</label>
      <input name="titulopri" #titulopri="ngModel" [(ngModel)]="notificacion.titulopri" type="text" class="form-control" id="exampleFormControlInput1" placeholder=".........">
    </div>

    <div class="form-group">
      <label for="exampleFormControlInput1">Subtítulo</label>
      <input name="tituloseg" #tituloseg="ngModel" [(ngModel)]="notificacion.tituloseg" type="text" class="form-control" id="exampleFormControlInput2" placeholder=".........">
    </div>
   
    <div class="form-group">
     
      <div class="button-wrap">
        <label class="buttonn" for="upload">Subir imagen...</label>
        <input  id="upload"  #inputFile type="file" (change)="uploadImagenInput($event)">
      </div>
      <!-- <label class="uploadLabel"> -->
         
        
        
          <!-- <ion-icon name="image-outline"></ion-icon>
          <input id="uploadCaptureFile" #inputFile (change)="uploadImagenInput($event)" type="file" class="uploadButton"/> -->
        <!-- </label> -->
     </div>
   
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Nota</label>
      <textarea name="nota" type="text" #nota="ngModel" [(ngModel)]="notificacion.nota" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button (click)="saveNota()" class="btn btn-primary form-control">Postear</button>
    </div>
  </form>

  <div class="form-group" style="margin-top: 50px">
    <button (click)="verNotificacion()" class="btn  btn-info  form-control">Ver Notificaciones</button>
  </div>
 </div>
</ion-content>
